domain = "spencerslab.com"
timezone = "America/Denver"
#mx_backup = "banshee.mxlogin.com" # Optional
hcloud_token = "[YOUR Hetzner Cloud token here]"
digitalocean_token = "[YOUR DigitalOcean token here]"
